In [7]:
import pandas as pd

In [304]:
# Importando os dados
df_capitais = pd.read_csv('dados/capitais.csv', sep=";")
df_entidades = pd.read_csv('dados/entidades.csv', sep=";")
df_levantamentos = pd.read_csv('dados/levantamentos.csv', sep=";")
df_respostas = pd.read_csv('dados/respostas.csv', sep=";")
df_perguntas = pd.read_csv('dados/perguntas.csv', sep=";")
df_opcoes = pd.read_csv('dados/opcoes.csv', sep=";")
df_resposta_opcoes = pd.read_csv('dados/resposta_opcoes.csv', sep=";")
df_conselhos = pd.read_csv('dados/quantidade_conselho_tutelar.csv', sep=";")
df_fmdca = pd.read_csv('dados/dados_fmdca.csv', sep=";")

In [306]:
df_fmdca.head()

   BR-UF  UF    Estado  Qtd_mun_COM_FMCA  Qtd_Municipios Prop_Mun_FMCA_Tt_Mun
0  BR-AC  AC      Acre                22              22                 1,00
1  BR-AL  AL   Alagoas                92             102                 0,90
2  BR-AM  AM  Amazonas                40              62                 0,65
3  BR-AP  AP     Amapa                 9              16                 0,56
4  BR-BA  BA     Bahia               309             417                 0,74

In [308]:
df_fmdca['Prop_Mun_FMCA_Tt_Mun'] = df_fmdca['Prop_Mun_FMCA_Tt_Mun'].str.replace(',','.')

In [310]:
df_fmdca.head()

   BR-UF  UF    Estado  Qtd_mun_COM_FMCA  Qtd_Municipios Prop_Mun_FMCA_Tt_Mun
0  BR-AC  AC      Acre                22              22                 1.00
1  BR-AL  AL   Alagoas                92             102                 0.90
2  BR-AM  AM  Amazonas                40              62                 0.65
3  BR-AP  AP     Amapa                 9              16                 0.56
4  BR-BA  BA     Bahia               309             417                 0.74

In [314]:
df_fmdca['Prop_Mun_FMCA_Tt_Mun'] = pd.to_numeric(df_fmdca['Prop_Mun_FMCA_Tt_Mun'])

In [318]:
df_fmdca.head()

   BR-UF  UF    Estado  Qtd_mun_COM_FMCA  Qtd_Municipios  Prop_Mun_FMCA_Tt_Mun
0  BR-AC  AC      Acre                22              22                  1.00
1  BR-AL  AL   Alagoas                92             102                  0.90
2  BR-AM  AM  Amazonas                40              62                  0.65
3  BR-AP  AP     Amapa                 9              16                  0.56
4  BR-BA  BA     Bahia               309             417                  0.74

In [187]:
def conselhos_por_100k(conselhos, populacao):
    return (conselhos / populacao) * 100000

In [201]:
tabela = df_conselhos.groupby(['ESTADO','UF'])[['Pop_Resd_Total_2024_PNAD','QTD_CONSELHO_TUTELAR']].sum()

In [207]:
# Alterando os nomes das colunas
tabela = tabela.rename(columns={
    'Pop_Resd_Total_2024_PNAD': 'População Residente Total - PNAD 2024',
    'QTD_CONSELHO_TUTELAR': 'Total de Conselhos Tutelares'
})

# Criando uma nova coluna aplicando a função conselhos_por_100k
tabela['Conselhos por 100k'] = tabela.apply(
    lambda row: round(conselhos_por_100k(row['Total de Conselhos Tutelares'], row['População Residente Total - PNAD 2024'])),
    axis=1
)

In [223]:
tabela.reset_index(inplace=True)

In [231]:
tabela

,ESTADO,UF,População Residente Total - PNAD 2024,Total de Conselhos Tutelares,Conselhos por 100k
0,Acre,AC,880631,25,3
1,Alagoas,AL,3220104,116,4
2,Amapa,AP,802837,18,2
3,Amazonas,AM,4281209,73,2
4,Bahia,BA,14850513,451,3
5,Ceara,CE,9233656,194,2
6,Distrito Federal,DF,2982818,41,1
7,Espirito Santo,ES,4102129,95,2
8,Goias,GO,7350483,262,4
9,Maranhao,MA,7010960,230,3
10,Mato Grosso,MT,3830627,151,4
11,Mato Grosso do Sul,MS,2901895,84,3
12,Minas Gerais,MG,21322691,890,4
13,Para,PA,8664306,162,2
14,Paraiba,PB,4145040,236,6
15,Parana,PR,11824665,422,4
16,Pernambuco,PE,9539029,216,2
17,Piaui,PI,3375646,228,7
18,Rio Grande do Norte,RN,3446071,173,5
19,Rio Grande do Sul,RS,11229915,527,5
20,Rio de Janeiro,RJ,17219679,142,1
21,Rondonia,RO,1746227,59,3
22,Roraima,RR,716793,17,2
23,Santa Catarina,SC,8058441,307,4
24,Sao Paulo,SP,45973194,747,2
25,Sergipe,SE,2291077,87,4
26,Tocantins,TO,1577342,145,9

In [291]:
df_fmdca.set_index('UF')

,BR-UF,Estado,Qtd_mun_COM_FMCA,Qtd_Municipios,Prop_Mun_FMCA_Tt_Mun
UF,,,,,
AC,BR-AC,Acre,22,22,100.0
AL,BR-AL,Alagoas,92,102,90.0
AM,BR-AM,Amazonas,40,62,65.0
AP,BR-AP,Amapa,9,16,56.0
BA,BR-BA,Bahia,309,417,74.0
CE,BR-CE,Ceara,184,184,100.0
DF,BR-DF,Distrito Federal,1,1,100.0
ES,BR-ES,Espirito Santo,69,78,88.0
GO,BR-GO,Goias,229,246,93.0
MA,BR-MA,Maranhao,145,217,67.0
MG,BR-MG,Minas Gerais,718,853,84.0
MS,BR-MS,Mato Grosso do Sul,79,79,100.0
MT,BR-MT,Mato Grosso,138,141,98.0
PA,BR-PA,Para,124,144,86.0
PB,BR-PB,Paraiba,193,223,87.0
PE,BR-PE,Pernambuco,149,185,81.0
PI,BR-PI,Piaui,179,224,80.0
PR,BR-PR,Parana,399,399,100.0
RJ,BR-RJ,Rio de Janeiro,92,92,100.0
RN,BR-RN,Rio Grande do Norte,115,167,69.0
RO,BR-RO,Rondonia,52,52,100.0
RR,BR-RR,Roraima,12,15,80.0
RS,BR-RS,Rio Grande do Sul,461,497,93.0
SC,BR-SC,Santa Catarina,295,295,100.0
SE,BR-SE,Sergipe,48,75,64.0
SP,BR-SP,Sao Paulo,564,645,87.0
TO,BR-TO,Tocantins,102,139,73.0